<div style="text-align: center; font-size: 20px; padding: 25px; ">
<h2>Coś poszło nie tak!</h2>
<div>Kod statusu: @ViewBag.StatusCode</div>
<div>Błąd: @ViewBag.ErrorMessage</div>
<div><a asp-action="Index" asp-controller="Home">Powrót do strony głównej!</a></div>
</div>
