@{
    ViewData["Title"] = "Home Page";
}

<div id="categoryheader"><h1>Kategorie główne</h1></div>
<div id="categorymenu">
    <div class="categorywindow">
        <div class="categoryimage"><img class="roundedimage" src="~/images/literaturalogo.jpg" alt="Literatura"></div>
        <div class="categoryname">Literatura</div>
    </div>
    <div class="categorywindow">
        <div class="categoryimage"><img class="roundedimage" src="~/images/criminallogo.jpg" alt="Kryminał"></div>
        <div class="categoryname">Kryminał, Thriller</div>
    </div>
    <div class="categorywindow">
        <div class="categoryimage"><img class="roundedimage" src="~/images/fantasylogo.jpg" alt="Fantasy"></div>
        <div class="categoryname">Fantasy, Sciene Fiction</div>
    </div>
    <div class="categorywindow">
        <div class="categoryimage"><img class="roundedimage" src="~/images/horrorlogo.jpg" alt="Horror"></div>
        <div class="categoryname">Horror</div>
    </div>
    <div class="categorywindow">
        <div class="categoryimage"><img class="roundedimage" src="~/images/lovelogo.jpg" alt="Romans"></div>
        <div class="categoryname">Romanse</div>
    </div>
    <div class="categorywindow">
        <div class="categoryimage"><img class="roundedimage" src="~/images/lekturylogo.jpg" alt="Lektury"></div>
        <div class="categoryname">Lektury</div>
    </div>
    <div class="categorywindow">
        <div class="categoryimage"><img class="roundedimage" src="~/images/others.jpg" alt="Inne"></div>
        <div class="categoryname">Inne</div>
    </div>
</div>
<div id="newestofferheader"><h1>Najnowsze oferty</h1></div>
<div id="newestoffercontainer">
    <div class="offerwindow">
        <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
        <div class="offerbooktitle">Syzyfowe Prace</div>
        <div class="offerbookauthor">Stefan Żeromski</div>
        <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
        <div style="margin-top: 40px;"></div>
        <div class="offercity">Toruń </div>
        <div class="offerdate">wczoraj 11:56</div>
        <div style="clear: both;"></div>
        <div class="offertype">Sprzedaż</div>
        <div class="offerprice">49,99zł</div>
        <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
        <div style="clear: both;"></div>
        <button class="offerpreviewbutton">Zobacz ofertę</button>
    </div>
    <div class="offerwindow">
        <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
        <div class="offerbooktitle">Syzyfowe Prace</div>
        <div class="offerbookauthor">Stefan Żeromski</div>
        <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
        <div style="margin-top: 40px;"></div>
        <div class="offercity">Toruń </div>
        <div class="offerdate">wczoraj 11:56</div>
        <div style="clear: both;"></div>
        <div class="offertype">Sprzedaż</div>
        <div class="offerprice">49,99zł</div>
        <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
        <div style="clear: both;"></div>
        <button class="offerpreviewbutton">Zobacz ofertę</button>
    </div>
    <div class="offerwindow">
        <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
        <div class="offerbooktitle">Syzyfowe Prace</div>
        <div class="offerbookauthor">Stefan Żeromski</div>
        <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
        <div style="margin-top: 40px;"></div>
        <div class="offercity">Toruń </div>
        <div class="offerdate">wczoraj 11:56</div>
        <div style="clear: both;"></div>
        <div class="offertype">Sprzedaż</div>
        <div class="offerprice">49,99zł</div>
        <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
        <div style="clear: both;"></div>
        <button class="offerpreviewbutton">Zobacz ofertę</button>
    </div>
    <div class="offerwindow">
        <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
        <div class="offerbooktitle">Syzyfowe Prace</div>
        <div class="offerbookauthor">Stefan Żeromski</div>
        <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
        <div style="margin-top: 40px;"></div>
        <div class="offercity">Toruń </div>
        <div class="offerdate">wczoraj 11:56</div>
        <div style="clear: both;"></div>
        <div class="offertype">Sprzedaż</div>
        <div class="offerprice">49,99zł</div>
        <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
        <div style="clear: both;"></div>
        <button class="offerpreviewbutton">Zobacz ofertę</button>
    </div>
    <div style="clear: both;"></div>
    <div class="offerwindow">
        <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
        <div class="offerbooktitle">Syzyfowe Prace</div>
        <div class="offerbookauthor">Stefan Żeromski</div>
        <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
        <div style="margin-top: 40px;"></div>
        <div class="offercity">Toruń </div>
        <div class="offerdate">wczoraj 11:56</div>
        <div style="clear: both;"></div>
        <div class="offertype">Sprzedaż</div>
        <div class="offerprice">49,99zł</div>
        <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
        <div style="clear: both;"></div>
        <button class="offerpreviewbutton">Zobacz ofertę</button>
    </div>
    <div class="offerwindow">
        <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
        <div class="offerbooktitle">Syzyfowe Prace</div>
        <div class="offerbookauthor">Stefan Żeromski</div>
        <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
        <div style="margin-top: 40px;"></div>
        <div class="offercity">Toruń </div>
        <div class="offerdate">wczoraj 11:56</div>
        <div style="clear: both;"></div>
        <div class="offertype">Sprzedaż</div>
        <div class="offerprice">49,99zł</div>
        <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
        <div style="clear: both;"></div>
        <button class="offerpreviewbutton">Zobacz ofertę</button>
    </div>
    <div class="offerwindow">
        <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
        <div class="offerbooktitle">Syzyfowe Prace</div>
        <div class="offerbookauthor">Stefan Żeromski</div>
        <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
        <div style="margin-top: 40px;"></div>
        <div class="offercity">Toruń </div>
        <div class="offerdate">wczoraj 11:56</div>
        <div style="clear: both;"></div>
        <div class="offertype">Sprzedaż</div>
        <div class="offerprice">49,99zł</div>
        <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
        <div style="clear: both;"></div>
        <button class="offerpreviewbutton">Zobacz ofertę</button>
    </div>
    <div class="offerwindow">
        <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
        <div class="offerbooktitle">Syzyfowe Prace</div>
        <div class="offerbookauthor">Stefan Żeromski</div>
        <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
        <div style="margin-top: 40px;"></div>
        <div class="offercity">Toruń </div>
        <div class="offerdate">wczoraj 11:56</div>
        <div style="clear: both;"></div>
        <div class="offertype">Sprzedaż</div>
        <div class="offerprice">49,99zł</div>
        <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
        <div style="clear: both;"></div>
        <button class="offerpreviewbutton">Zobacz ofertę</button>
    </div>
    <div style="clear: both;"></div>
    <div class="offerwindow">
        <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
        <div class="offerbooktitle">Syzyfowe Prace</div>
        <div class="offerbookauthor">Stefan Żeromski</div>
        <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
        <div style="margin-top: 40px;"></div>
        <div class="offercity">Toruń </div>
        <div class="offerdate">wczoraj 11:56</div>
        <div style="clear: both;"></div>
        <div class="offertype">Sprzedaż</div>
        <div class="offerprice">49,99zł</div>
        <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
        <div style="clear: both;"></div>
        <button class="offerpreviewbutton">Zobacz ofertę</button>
    </div>
    <div class="offerwindow">
        <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
        <div class="offerbooktitle">Syzyfowe Prace</div>
        <div class="offerbookauthor">Stefan Żeromski</div>
        <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
        <div style="margin-top: 40px;"></div>
        <div class="offercity">Toruń </div>
        <div class="offerdate">wczoraj 11:56</div>
        <div style="clear: both;"></div>
        <div class="offertype">Sprzedaż</div>
        <div class="offerprice">49,99zł</div>
        <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
        <div style="clear: both;"></div>
        <button class="offerpreviewbutton">Zobacz ofertę</button>
    </div>
    <div class="offerwindow">
        <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
        <div class="offerbooktitle">Syzyfowe Prace</div>
        <div class="offerbookauthor">Stefan Żeromski</div>
        <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
        <div style="margin-top: 40px;"></div>
        <div class="offercity">Toruń </div>
        <div class="offerdate">wczoraj 11:56</div>
        <div style="clear: both;"></div>
        <div class="offertype">Sprzedaż</div>
        <div class="offerprice">49,99zł</div>
        <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
        <div style="clear: both;"></div>
        <button class="offerpreviewbutton">Zobacz ofertę</button>
    </div>
    <div class="offerwindow">
        <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
        <div class="offerbooktitle">Syzyfowe Prace</div>
        <div class="offerbookauthor">Stefan Żeromski</div>
        <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
        <div style="margin-top: 40px;"></div>
        <div class="offercity">Toruń </div>
        <div class="offerdate">wczoraj 11:56</div>
        <div style="clear: both;"></div>
        <div class="offertype">Sprzedaż</div>
        <div class="offerprice">49,99zł</div>
        <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
        <div style="clear: both;"></div>
        <button class="offerpreviewbutton">Zobacz ofertę</button>
    </div>
    <div style="clear: both;"></div>
    <div class="seealloffersbutton"><button class="moreoffersbutton">Zobacz wszystkie</button></div>
</div>
