<div class="succesfullregister-window">
    <div class="succesfullregister-info">Pomyślne potwierdzenie e-mail!</div>
    <div class="succesfullregister-info">Możesz już zalogować się na swoje konto. Aby to zrobić kliknij poniższy przycisk.</div>
    <a asp-action="Login" asp-controller="User"><div class="missingmail-button">Zaloguj się</div></a>
</div>
