<div class="succesfullregister-window">
    <div class="succesfullregister-info">Rejestracja zakończona pomyślnie!</div>
    <div class="succesfullregister-info">Witamy Nickname na naszej stronie.</div>
    <div class="succesfullregister-info">
        Wysłaliśmy maila na adres @ViewBag.Email w celu potwierdzenia e-mail. Kliknij w link, który znajduję
        się w mailu, aby aktywować konto.
    </div>
    <button class="missingmail-button">Nie dostałem maila</button>
</div>
