<div class="forgotpassword-info">
    W celu zresetowania hasła, musisz podać email oraz nazwę użytkownika do konta, które chcesz odzyskać. Wyślemy na podanego maila link potwierdzający, że to ty jesteś właścicielem. Po
    udanej weryfikacji, będziesz poproszony o podanie nowego hasła. Po udanej zmianie, możesz się zalogować nowym hasłem.
</div>
<div class="loginpanel">
    <div class="loginheader"><h1>Reset hasła</h1></div>
    <form asp-action="ForgotPasswordSendEmail" asp-controller="User" metod="post" role="form" id="signupform" autocomplete="off">
        <div class="login-textfield">
            <input type="text" id="emailinput" name="emailinput" required>
            <span></span>
            <label>Email</label>
        </div>
        <span id="emailerror" class="errorfield"></span>
        <div class="login-textfield">
            <input type="text" id="usernameinput" name="usernameinput" required>
            <label>Nazwa użytkownika</label>
        </div>
        <span id="usernameerror" class="errorfield"></span>
        <div class="errorfield">
            @if (ViewBag.Error != null)
            {
                <p>@ViewBag.Error</p>
            }
        </div>
        <input type="submit" value="Wyślij">
        <div style="height: 40px;"></div>
    </form>
</div>
