<div class="succesfullregister-window">
    <div class="succesfullregister-info">
        Wysłaliśmy maila na adres @ViewBag.Email w celu potwierdzenia tożsamości. Kliknij w link, który znajduję
        się w mailu, aby zresetować hasło.
    </div>
    <button class="missingmail-button">Nie dostałem maila</button>
</div>