@using WymianaKsiazek.Models.MapperModels;
@model MyProfileMP
<div class="userwindow">
    <div class="userprofile-image">
        <img src="~/images/user.png" height="300px" width="300px">
    </div>
    <div class="userprofile-info">
        <div class="userprofile-data"><h2>Nazwa:</h2> @Model.UserName</div>
        <div class="userprofile-data"><h2>Email:</h2> @Model.Email</div>
        <div class="myprofile-menu">
            <a href="#"><div class="myprofilemenu-option">Zmień email</div></a>
            <a href="#"><div class="myprofilemenu-option">Zmień nazwę użytkownika</div></a>
            <a href="#"><div class="myprofilemenu-option">Zmień hasło</div></a>
            <a href="#"><div class="myprofilemenu-option">Zmień zdjęcie profilowe</div></a>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="myprofile-useroffers">
        <div class="myprofile-useroffers-header">
            <h2>Moje oferty</h2>
        </div>
        <div class="offerwindow">
            <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
            <div class="offerbooktitle">Syzyfowe Prace</div>
            <div class="offerbookauthor">Stefan Żeromski</div>
            <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
            <div style="margin-top: 40px;"></div>
            <div class="offercity">Toruń </div>
            <div class="offerdate">wczoraj 11:56</div>
            <div style="clear: both;"></div>
            <div class="offertype">Sprzedaż</div>
            <div class="offerprice">49,99zł</div>
            <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
            <div style="clear: both;"></div>
            <button class="offerpreviewbutton">Zobacz ofertę</button>
        </div>
        <div class="offerwindow">
            <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
            <div class="offerbooktitle">Syzyfowe Prace</div>
            <div class="offerbookauthor">Stefan Żeromski</div>
            <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
            <div style="margin-top: 40px;"></div>
            <div class="offercity">Toruń </div>
            <div class="offerdate">wczoraj 11:56</div>
            <div style="clear: both;"></div>
            <div class="offertype">Sprzedaż</div>
            <div class="offerprice">49,99zł</div>
            <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
            <div style="clear: both;"></div>
            <button class="offerpreviewbutton">Zobacz ofertę</button>
        </div>
        <div class="offerwindow">
            <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
            <div class="offerbooktitle">Syzyfowe Prace</div>
            <div class="offerbookauthor">Stefan Żeromski</div>
            <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
            <div style="margin-top: 40px;"></div>
            <div class="offercity">Toruń </div>
            <div class="offerdate">wczoraj 11:56</div>
            <div style="clear: both;"></div>
            <div class="offertype">Sprzedaż</div>
            <div class="offerprice">49,99zł</div>
            <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
            <div style="clear: both;"></div>
            <button class="offerpreviewbutton">Zobacz ofertę</button>
        </div>
        <div class="offerwindow">
            <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
            <div class="offerbooktitle">Syzyfowe Prace</div>
            <div class="offerbookauthor">Stefan Żeromski</div>
            <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
            <div style="margin-top: 40px;"></div>
            <div class="offercity">Toruń </div>
            <div class="offerdate">wczoraj 11:56</div>
            <div style="clear: both;"></div>
            <div class="offertype">Sprzedaż</div>
            <div class="offerprice">49,99zł</div>
            <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
            <div style="clear: both;"></div>
            <button class="offerpreviewbutton">Zobacz ofertę</button>
        </div>
        <div style="clear: both;"></div>
        <div class="myprofile-useroffers-header">
            <h2>Obserwowane oferty</h2>
        </div>
        <div class="offerwindow">
            <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
            <div class="offerbooktitle">Syzyfowe Prace</div>
            <div class="offerbookauthor">Stefan Żeromski</div>
            <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
            <div style="margin-top: 40px;"></div>
            <div class="offercity">Toruń </div>
            <div class="offerdate">wczoraj 11:56</div>
            <div style="clear: both;"></div>
            <div class="offertype">Sprzedaż</div>
            <div class="offerprice">49,99zł</div>
            <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
            <div style="clear: both;"></div>
            <button class="offerpreviewbutton">Zobacz ofertę</button>
        </div>
        <div class="offerwindow">
            <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
            <div class="offerbooktitle">Syzyfowe Prace</div>
            <div class="offerbookauthor">Stefan Żeromski</div>
            <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
            <div style="margin-top: 40px;"></div>
            <div class="offercity">Toruń </div>
            <div class="offerdate">wczoraj 11:56</div>
            <div style="clear: both;"></div>
            <div class="offertype">Sprzedaż</div>
            <div class="offerprice">49,99zł</div>
            <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
            <div style="clear: both;"></div>
            <button class="offerpreviewbutton">Zobacz ofertę</button>
        </div>
        <div class="offerwindow">
            <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
            <div class="offerbooktitle">Syzyfowe Prace</div>
            <div class="offerbookauthor">Stefan Żeromski</div>
            <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
            <div style="margin-top: 40px;"></div>
            <div class="offercity">Toruń </div>
            <div class="offerdate">wczoraj 11:56</div>
            <div style="clear: both;"></div>
            <div class="offertype">Sprzedaż</div>
            <div class="offerprice">49,99zł</div>
            <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
            <div style="clear: both;"></div>
            <button class="offerpreviewbutton">Zobacz ofertę</button>
        </div>
        <div class="offerwindow">
            <div class="offerimage"><img class="offerpicture" src="~/images/35078001465KS.jpg" alt="Image"></div>
            <div class="offerbooktitle">Syzyfowe Prace</div>
            <div class="offerbookauthor">Stefan Żeromski</div>
            <div class="offeruser">Dodano przez: <div class="offerusername">User123</div></div>
            <div style="margin-top: 40px;"></div>
            <div class="offercity">Toruń </div>
            <div class="offerdate">wczoraj 11:56</div>
            <div style="clear: both;"></div>
            <div class="offertype">Sprzedaż</div>
            <div class="offerprice">49,99zł</div>
            <div class="offerfollowbutton"><i class="fas fa-heart"></i></div>
            <div style="clear: both;"></div>
            <button class="offerpreviewbutton">Zobacz ofertę</button>
        </div>
        <div class="seealloffersbutton"><button class="moreoffersbutton">Zobacz wszystkie</button></div>
        <div style="clear: both;"></div>
    </div>
    <div style="clear: both;"></div>
</div>
