<div class="forgotpassword-info">
    Weryfikacja przebiegła pomyślnie<img src="~/images/ok.jpg" width="22px" height="22px">. Możesz zmienić hasło.
</div>
<div class="loginpanel">
    <div class="loginheader"><h1>Zmiana hasła</h1></div>
    <form asp-action="ResetChangePassword" asp-controller="User" method="post" role="form" id="signupform" autocomplete="off">
		<input type="hidden" id="userid" name="userid" value="@ViewBag.UserId">
        <div class="login-textfield">
            <input type="password" id="passwordinput" name="passwordinput" required>
            <span></span>
            <label>Nowe hasło<img src="~/images/ok.jpg" class="ok-image" id="password-ok-image"></label>
        </div>
        <span id="passworderror" class="errorfield"></span>
        <div class="login-textfield">
            <input type="password" id="password2input" name="password2input" required>
            <label>Powtórz hasło<img src="~/images/ok.jpg" class="ok-image" id="password2-ok-image"></label>
        </div>
        <span id="password2error" class="errorfield"></span>
        <input type="submit" value="Zmień hasło">
        <div style="height: 40px;"></div>
    </form>
    <script>
			const form = document.querySelector('#signupform');
			const passwordformat = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;

			let password = form.elements.namedItem("passwordinput");
			let password2 = form.elements.namedItem("password2input");

			let isitvalidpassword = true;
			let isitvalidpassword2 = true;

			password.addEventListener('input', validate);
			password2.addEventListener('input', validate);

			function validate(e)
			{
				let target = e.target;
				if(target.name == "passwordinput")
				{
					let passwordvalue = target.value;
					$('#password-ok-image').css("display", "none");
					if(passwordvalue.length == 0)
					{
						$('#passworderror').text("Pole nie może być puste");
						isitvalidpassword = true;
					}
					else if(passwordvalue.length < 10)
					{
						$('#passworderror').text("Hasło musi zawierać conajmniej 10 znaków");
						isitvalidpassword = true;
					}
					else if(passwordvalue.length > 25)
					{
						$('#passworderror').text("Hasło może zawierać conajwyżej 25 znaków");
						isitvalidpassword = true;
					}
					else if(!passwordformat.test(passwordvalue))
					{
						$('#passworderror').text("Hasło musi zawierać 1 dużą literę, małą literę oraz cyfrę");
						isitvalidpassword = true;
					}
					else
					{
						$('#passworderror').text("");
						$('#password-ok-image').css("display", "inline");
						isitvalidpassword = false;
					}
				}
				else if(target.name == "password2input")
				{
					let password2value = target.value;
					let passwd = $('#passwordinput').val();
					$('#password2-ok-image').css("display", "none");
					if(password2value.length == 0)
					{
						$('#password2error').text("Pole nie może być puste");
						isitvalidpassword2 = true;
					}
					else if(password2value != passwd)
					{
						$('#password2error').text("Hasła nie zgadzają się");
						isitvalidpassword2 = true;
					}
					else
					{
						$('#password2error').text("");
						$('#password2-ok-image').css("display", "inline");
						isitvalidpassword2 = false;
					}
				}
			}

			form.addEventListener('submit', function(e){
				e.preventDefault();
				if(isitvalidpassword == false && isitvalidpassword2 == false)
				{
                    form.submit();
				}
				else
				{
					
				}
				});
    </script>
</div>
